# Loan Eligibility Prediction Analysis and Model training/testing file

## Sanity Check

In [4]:
import warnings
warnings.filterwarnings('ignore')
from scripts.temp import temp_fun
temp_fun()

Confirming that relative imports work

## Fetch and Read the data

In [5]:
# Just import and run
from scripts.data_fetch import download_dataset
import pandas as pd

# Download
download_dataset()

# # Load data
df = pd.read_csv('data/Loan Eligibility Prediction.csv')  # adjust filename if needed
df.head()

Downloading: avineshprabhakaran/loan-eligibility-prediction
Dataset URL: https://www.kaggle.com/datasets/avineshprabhakaran/loan-eligibility-prediction
Downloaded to ./data/

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,569,Female,No,0,Graduate,No,2378,0.0,9,360,1,Urban,N
1,15,Male,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
2,95,Male,No,0,Not Graduate,No,3620,0.0,25,120,1,Semiurban,Y
3,134,Male,Yes,0,Graduate,Yes,3459,0.0,25,120,1,Semiurban,Y
4,556,Male,Yes,1,Graduate,No,5468,1032.0,26,360,1,Semiurban,Y

## Exploratory Data Analysis

In [ ]:
# cell for EDA functions

## Model Training

In [6]:
from scripts.model_train import *

# Preprocess
X_train, X_test, y_train, y_test, features, scaler = preprocess_data(df)

# Train and save model
model = train_classifier(X_train, y_train)

 Data preprocessed with one-hot encoding
  Training samples: 491
  Testing samples: 123
  Number of features: 12
  Target distribution - Approved: 422, Rejected: 192

Training Logistic Regression...

Model trained successfully
  Training Accuracy: 0.8086

Model saved to: models/logistic_regression_model.pkl